My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "675e401e-6513-4c00-b1b5-caa12579900c",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -80
      ],
      "id": "61fead33-f89b-4b83-808d-8ba11208eb4c",
      "name": "Webhook",
      "webhookId": "675e401e-6513-4c00-b1b5-caa12579900c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72b687bf-43de-4c3f-985e-a488c7d71751",
              "name": "org_name",
              "value": "={{$json.org_name}}",
              "type": "string"
            },
            {
              "id": "78f90195-db92-4a3b-894e-e2a58c8fe9b1",
              "name": "vehicle_type",
              "value": "={{$json.vehicle_type}}",
              "type": "string"
            },
            {
              "id": "da24e8b9-23af-4dac-a1c6-9440df1328e3",
              "name": "required_quantity",
              "value": "={{$json.required_quantity}}",
              "type": "string"
            },
            {
              "id": "6e59313d-edef-4b61-9ec1-6b621d86c443",
              "name": "city",
              "value": "={{$json.city}}",
              "type": "string"
            },
            {
              "id": "e92430b4-fd9f-4e90-bbfc-f2424d391fe3",
              "name": "country",
              "value": "={{$json.country}}",
              "type": "string"
            },
            {
              "id": "ab2ba47e-07b9-45b5-8fab-44bf42c963af",
              "name": "status",
              "value": "\"NEW\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -80
      ],
      "id": "1dd594a9-8db5-4f21-8c72-a3e26e2dac2d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/agents/marty",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        -80
      ],
      "id": "ca4e2f55-507c-47d7-8b8f-b28a151644f8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3ac53856-468a-4f25-8534-193719b9c817",
              "leftValue": "lead_score >= 80",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        -80
      ],
      "id": "f799966a-41ef-49e8-b5e2-2a6df4f7d4f8",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07aeb8dd-daa1-49ed-820d-2beee0384745",
              "name": "status",
              "value": "REJECTED",
              "type": "string"
            },
            {
              "id": "50d2f7b8-bffd-4275-b5b0-c35cb2d257db",
              "name": "reason",
              "value": "LOW Lead Score",
              "type": "string"
            },
            {
              "id": "32529c9d-60ab-44a0-8dcd-81d5127d66eb",
              "name": "qualified",
              "value": "false",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        -64
      ],
      "id": "54eee66f-5252-4f9c-bb15-f0cb00c3814e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/agents/lisa",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "org_name",
              "value": "={{$json.org_name}}"
            },
            {
              "name": "vehicle_type",
              "value": "={{$json.vehicle_type}}"
            },
            {
              "name": "required_quantity",
              "value": "={{$json.required_quantity}}"
            },
            {
              "name": "city",
              "value": "={{$json.city}}"
            },
            {
              "name": "country",
              "value": "={{$json.country}}"
            },
            {
              "name": "lead_score",
              "value": "={{$json.lead_score}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        -304
      ],
      "id": "1731dd9c-18d1-4c48-a658-396474c07141",
      "name": "Lisa Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a7ad251-ff3e-481d-885d-33ab76fb6b98",
              "name": "status",
              "value": "VALIDATED",
              "type": "string"
            },
            {
              "id": "2a801e82-436a-4ce1-be64-4dc85b725c8f",
              "name": "current_agent",
              "value": "LISA",
              "type": "string"
            },
            {
              "id": "bf6a4948-dfd6-4706-b2f4-41cba9263cae",
              "name": "qualified",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        -304
      ],
      "id": "9366e308-24f1-4d10-944b-ff0f91591767",
      "name": "Lead Validated"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/agents/neil",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "deal_id",
              "value": "={{$json.deal_id}}"
            },
            {
              "name": "org_name",
              "value": "={{$json.org_name}}"
            },
            {
              "name": "vehicle_type",
              "value": "={{$json.vehicle_type}}"
            },
            {
              "name": "required_quantity",
              "value": "={{$json.required_quantity}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1264,
        -304
      ],
      "id": "8f458a8e-ae1a-49bb-b856-52f2b52e6ea9",
      "name": "Neil Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98cbbcd1-313c-4714-87fa-3b97bd61cfaf",
              "name": "status",
              "value": "REQUIREMENTS_COLLECTED",
              "type": "string"
            },
            {
              "id": "660378df-11af-4101-af67-6e0b9626c27c",
              "name": "current_agent",
              "value": "NEIL",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        -304
      ],
      "id": "37a2936c-20ef-4017-b205-5aebfdaeac0a",
      "name": "Requirements Colllected"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/agents/paul",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "deal_id",
              "value": "={{$json.deal_id}}"
            },
            {
              "name": "vehicle_type",
              "value": "={{$json.vehicle_type}}"
            },
            {
              "name": "required_quantity",
              "value": "={{$json.required_quantity}}"
            },
            {
              "name": "requirements",
              "value": "={{$json.requirements}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1680,
        -304
      ],
      "id": "8b25b7bc-3035-466f-a805-f85feed08a5c",
      "name": "Paul Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a18e1ba5-259e-488d-acd6-97f9fe63469a",
              "name": "status",
              "value": "PRICED",
              "type": "string"
            },
            {
              "id": "a32fbf9b-9ac1-47e9-9df7-9b9c67f29eea",
              "name": "current_agent",
              "value": "Paul",
              "type": "string"
            },
            {
              "id": "a59827a8-71dc-4c3b-97cb-d8b30c42ec0b",
              "name": "quotation_generated",
              "value": "true",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        224
      ],
      "id": "ca69cd9c-b443-49db-a91c-bd692faead90",
      "name": "Pricing Ready"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9468135e-2112-430d-b0dc-023f3319634a",
              "name": "approval_status",
              "value": "PENDING",
              "type": "string"
            },
            {
              "id": "54f30c4e-49ef-468a-b6e9-563e0fa3b148",
              "name": "current_agent",
              "value": "Victor",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        224
      ],
      "id": "3efc5b3b-47e9-4dd4-a4f2-99ac6e44b0dd",
      "name": "Victor Approval"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9029e375-7af9-4f0a-9592-0508bd309124",
              "leftValue": "approval_status",
              "rightValue": "APPROVED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        224
      ],
      "id": "c507559d-2d4d-43d9-a409-3061f445c7c0",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5eba4d6-b9c7-49e5-9bb8-dc46c90bcc5b",
              "name": "status",
              "value": "REJECTED",
              "type": "string"
            },
            {
              "id": "ac2d9729-497a-4ba4-a1ec-f2be54f3a3e1",
              "name": "reason",
              "value": "Quote Rejected",
              "type": "string"
            },
            {
              "id": "0f9acda0-9f46-4430-b725-1211b731f849",
              "name": "current_agent",
              "value": "Victor",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        384
      ],
      "id": "054342bc-d8b5-4c89-9e1f-9212f724999c",
      "name": "Approval Rejected"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/agents/sally",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "deal_id",
              "value": "={{$json.deal_id}}"
            },
            {
              "name": "quotation_id",
              "value": "={{$json.quotation_id}}"
            },
            {
              "name": "approval_status",
              "value": "={{$json.approval_status}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        592,
        160
      ],
      "id": "ad238070-9e34-4828-8373-567697577fc8",
      "name": "Sally Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3eef7cf0-caee-4096-b8cf-69c5747c996e",
              "name": "status",
              "value": "ORDER_CREATED",
              "type": "string"
            },
            {
              "id": "dd99b7e1-e793-4526-a797-dd95ec64737c",
              "name": "current_agent",
              "value": "Sally",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        160
      ],
      "id": "e44d984f-757a-48c9-9473-9ea71cc82f4c",
      "name": "Order Created"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/agents/adam",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "deal_id",
              "value": "={{$json.deal_id}}"
            },
            {
              "name": "order_id",
              "value": "={{$json.order_id}}"
            },
            {
              "name": "customer_name",
              "value": "={{$json.org_name}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        160
      ],
      "id": "d8fcb7d1-5da5-47f6-8269-6d2df531103f",
      "name": "Adam Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd77b0a5-3ca9-4b67-a918-1218aa4a5a28",
              "name": "status",
              "value": "DELIVERED",
              "type": "string"
            },
            {
              "id": "b4c5ee33-7af3-44ec-af7a-cd6684889639",
              "name": "current_agent",
              "value": "Adam",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        160
      ],
      "id": "2cd87a19-ac6c-43b5-b7f2-f0eeea53b82a",
      "name": "Delivery Completed"
    }
  ],
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "org_name": "Mayo Clinic",
          "vehicle_type": "Ambulance",
          "required_quantity": 5,
          "city": "Rochester",
          "country": "USA"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Lisa Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lisa Agent": {
      "main": [
        [
          {
            "node": "Lead Validated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Validated": {
      "main": [
        [
          {
            "node": "Neil Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neil Agent": {
      "main": [
        [
          {
            "node": "Requirements Colllected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Requirements Colllected": {
      "main": [
        [
          {
            "node": "Paul Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paul Agent": {
      "main": [
        [
          {
            "node": "Pricing Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pricing Ready": {
      "main": [
        [
          {
            "node": "Victor Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Victor Approval": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Sally Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Approval Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sally Agent": {
      "main": [
        [
          {
            "node": "Order Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order Created": {
      "main": [
        [
          {
            "node": "Adam Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adam Agent": {
      "main": [
        [
          {
            "node": "Delivery Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "747635d5-9d01-41e7-97b0-d7a09307c273",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98d17400a444f151939d5b14fbf5fe24fcf62f60baee7c0f911d1760dd25a8ee"
  },
  "nodeGroups": [],
  "id": "BE7MeJqnfWvzcYaa",
  "tags": []
}