n8n/iron-ridge.json
{
  "name": "iron-ridge",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "675e401e-6513-4c00-b1b5-caa12579900c",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -144,
        -112
      ],
      "id": "61fead33-f89b-4b83-808d-8ba11208eb4c",
      "name": "Webhook",
      "webhookId": "675e401e-6513-4c00-b1b5-caa12579900c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "595f4461-bec4-4b2c-9ea0-9d16096484a0",
              "name": "first_name",
              "value": "={{$json.body.first_name}}",
              "type": "string"
            },
            {
              "id": "b097de40-062d-405d-9f7e-b92275e7a5c7",
              "name": "last_name",
              "value": "={{$json.body.last_name}}",
              "type": "string"
            },
            {
              "id": "fe97acf6-8a35-4c7e-ac97-125e14886eb2",
              "name": "email",
              "value": "={{$json.body.email}}",
              "type": "string"
            },
            {
              "id": "7f25dd97-72ca-40f6-85df-ec680e8176e4",
              "name": "phone",
              "value": "={{$json.body.phone}}",
              "type": "string"
            },
            {
              "id": "72b687bf-43de-4c3f-985e-a488c7d71751",
              "name": "org_name",
              "value": "={{$json.body.org_name}}",
              "type": "string"
            },
            {
              "id": "78f90195-db92-4a3b-894e-e2a58c8fe9b1",
              "name": "vehicle_type",
              "value": "={{$json.body.vehicle_type}}",
              "type": "string"
            },
            {
              "id": "da24e8b9-23af-4dac-a1c6-9440df1328e3",
              "name": "required_quantity",
              "value": "={{$json.body.required_quantity}}",
              "type": "string"
            },
            {
              "id": "6e59313d-edef-4b61-9ec1-6b621d86c443",
              "name": "city",
              "value": "={{$json.body.city}}",
              "type": "string"
            },
            {
              "id": "e92430b4-fd9f-4e90-bbfc-f2424d391fe3",
              "name": "country",
              "value": "={{$json.body.country}}",
              "type": "string"
            },
            {
              "id": "ab2ba47e-07b9-45b5-8fab-44bf42c963af",
              "name": "status",
              "value": "\"NEW\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -112
      ],
      "id": "1dd594a9-8db5-4f21-8c72-a3e26e2dac2d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3ac53856-468a-4f25-8534-193719b9c817",
              "leftValue": "={{$json.lead_score}}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1472,
        -272
      ],
      "id": "f799966a-41ef-49e8-b5e2-2a6df4f7d4f8",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upright-sassy-handcuff.ngrok-free.dev/agents/lisa",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "your-agent-api-key-for-n8n"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "deal_id",
              "value": "={{$json.deal_id}}"
            },
            {
              "name": "vehicle_type",
              "value": "={{$node[\"Edit Fields\"].json[\"vehicle_type\"]}}"
            },
            {
              "name": "required_quantity",
              "value": "={{$node[\"Edit Fields\"].json[\"required_quantity\"]}}"
            },
            {
              "name": "city",
              "value": "={{$node[\"Edit Fields\"].json[\"city\"]}}"
            },
            {
              "name": "country",
              "value": "={{$node[\"Edit Fields\"].json[\"country\"]}}"
            },
            {
              "name": "lead_score",
              "value": "={{$json.lead_score}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        -528
      ],
      "id": "1731dd9c-18d1-4c48-a658-396474c07141",
      "name": "Lisa Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a7ad251-ff3e-481d-885d-33ab76fb6b98",
              "name": "status",
              "value": "VALIDATED",
              "type": "string"
            },
            {
              "id": "2a801e82-436a-4ce1-be64-4dc85b725c8f",
              "name": "current_agent",
              "value": "LISA",
              "type": "string"
            },
            {
              "id": "bf6a4948-dfd6-4706-b2f4-41cba9263cae",
              "name": "qualified",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        -528
      ],
      "id": "9366e308-24f1-4d10-944b-ff0f91591767",
      "name": "Lead Validated"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upright-sassy-handcuff.ngrok-free.dev/agents/neil",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "your-agent-api-key-for-n8n"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "deal_id",
              "value": "={{$node[\"Create Deal\"].json[\"data\"][\"deal_id\"]}}"
            },
            {
              "name": "org_name",
              "value": "={{$node[\"Edit Fields\"].json[\"org_name\"]}}"
            },
            {
              "name": "vehicle_type",
              "value": "={{$node[\"Edit Fields\"].json[\"vehicle_type\"]}}"
            },
            {
              "name": "required_quantity",
              "value": "={{$node[\"Edit Fields\"].json[\"required_quantity\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1696,
        -528
      ],
      "id": "8f458a8e-ae1a-49bb-b856-52f2b52e6ea9",
      "name": "Neil Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98cbbcd1-313c-4714-87fa-3b97bd61cfaf",
              "name": "status",
              "value": "REQUIREMENTS_COLLECTED",
              "type": "string"
            },
            {
              "id": "660378df-11af-4101-af67-6e0b9626c27c",
              "name": "current_agent",
              "value": "NEIL",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        -528
      ],
      "id": "37a2936c-20ef-4017-b205-5aebfdaeac0a",
      "name": "Requirements Colllected"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upright-sassy-handcuff.ngrok-free.dev/agents/paul",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "your-agent-api-key-for-n8n"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "deal_id",
              "value": "={{$node[\"Create Deal\"].json[\"data\"][\"deal_id\"]}}"
            },
            {
              "name": "vehicle_type",
              "value": "={{$node[\"Edit Fields\"].json[\"vehicle_type\"]}}"
            },
            {
              "name": "required_quantity",
              "value": "={{$node[\"Edit Fields\"].json[\"required_quantity\"]}}"
            },
            {
              "name": "requirements",
              "value": "={{$node[\"Neil Agent\"].json[\"requirements\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2128,
        -528
      ],
      "id": "8b25b7bc-3035-466f-a805-f85feed08a5c",
      "name": "Paul Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a18e1ba5-259e-488d-acd6-97f9fe63469a",
              "name": "status",
              "value": "PRICED",
              "type": "string"
            },
            {
              "id": "a32fbf9b-9ac1-47e9-9df7-9b9c67f29eea",
              "name": "current_agent",
              "value": "Paul",
              "type": "string"
            },
            {
              "id": "a59827a8-71dc-4c3b-97cb-d8b30c42ec0b",
              "name": "quotation_generated",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        224
      ],
      "id": "ca69cd9c-b443-49db-a91c-bd692faead90",
      "name": "Pricing Ready"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"deal_id\": \"={{ $json.deal_id }}\",\n  \"status\": \"={{ $json.status }}\",\n  \"current_agent\": \"Victor\",\n  \"approval_status\": \"APPROVED\"\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        224
      ],
      "id": "3efc5b3b-47e9-4dd4-a4f2-99ac6e44b0dd",
      "name": "Victor Approval"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9029e375-7af9-4f0a-9592-0508bd309124",
              "leftValue": "APPROVED",
              "rightValue": "APPROVED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        224
      ],
      "id": "c507559d-2d4d-43d9-a409-3061f445c7c0",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5eba4d6-b9c7-49e5-9bb8-dc46c90bcc5b",
              "name": "status",
              "value": "REJECTED",
              "type": "string"
            },
            {
              "id": "ac2d9729-497a-4ba4-a1ec-f2be54f3a3e1",
              "name": "reason",
              "value": "Quote Rejected",
              "type": "string"
            },
            {
              "id": "0f9acda0-9f46-4430-b725-1211b731f849",
              "name": "current_agent",
              "value": "Victor",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        384
      ],
      "id": "054342bc-d8b5-4c89-9e1f-9212f724999c",
      "name": "Approval Rejected"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upright-sassy-handcuff.ngrok-free.dev/agents/sally",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "your-agent-api-key-for-n8n"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "deal_id",
              "value": "={{$node[\"Create Deal\"].json[\"data\"][\"deal_id\"]}}"
            },
            {
              "name": "quotation_id",
              "value": "={{$node[\"Paul Agent\"].json[\"quotation_id\"]}}"
            },
            {
              "name": "approval_status",
              "value": "={{$node[\"Victor Approval\"].json[\"approval_status\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        160
      ],
      "id": "ad238070-9e34-4828-8373-567697577fc8",
      "name": "Sally Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3eef7cf0-caee-4096-b8cf-69c5747c996e",
              "name": "status",
              "value": "ORDER_CREATED",
              "type": "string"
            },
            {
              "id": "dd99b7e1-e793-4526-a797-dd95ec64737c",
              "name": "current_agent",
              "value": "Sally",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        160
      ],
      "id": "e44d984f-757a-48c9-9473-9ea71cc82f4c",
      "name": "Order Created"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upright-sassy-handcuff.ngrok-free.dev/agents/adam",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "your-agent-api-key-for-n8n"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "deal_id",
              "value": "={{$node[\"Create Deal\"].json[\"data\"][\"deal_id\"]}}"
            },
            {
              "name": "order_id",
              "value": "={{$json.order_id}}"
            },
            {
              "name": "customer_name",
              "value": "={{$node[\"Edit Fields\"].json[\"org_name\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1216,
        160
      ],
      "id": "d8fcb7d1-5da5-47f6-8269-6d2df531103f",
      "name": "Adam Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd77b0a5-3ca9-4b67-a918-1218aa4a5a28",
              "name": "status",
              "value": "DELIVERED",
              "type": "string"
            },
            {
              "id": "b4c5ee33-7af3-44ec-af7a-cd6684889639",
              "name": "current_agent",
              "value": "Adam",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        160
      ],
      "id": "2cd87a19-ac6c-43b5-b7f2-f0eeea53b82a",
      "name": "Delivery Completed"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upright-sassy-handcuff.ngrok-free.dev/agents/marty",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "your-agent-api-key-for-n8n"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "org_name",
              "value": "={{$node[\"Edit Fields\"].json[\"org_name\"]}}"
            },
            {
              "name": "vehicle_type",
              "value": "={{$node[\"Edit Fields\"].json[\"vehicle_type\"]}}"
            },
            {
              "name": "required_quantity",
              "value": "={{$node[\"Edit Fields\"].json[\"required_quantity\"]}}"
            },
            {
              "name": "city",
              "value": "={{$node[\"Edit Fields\"].json[\"city\"]}}"
            },
            {
              "name": "country",
              "value": "={{$node[\"Edit Fields\"].json[\"country\"]}}"
            },
            {
              "name": "deal_id",
              "value": "={{$node[\"Create Deal\"].json[\"data\"][\"deal_id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1248,
        -272
      ],
      "id": "ca4e2f55-507c-47d7-8b8f-b28a151644f8",
      "name": "Marty Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e47279b3-cf6c-4530-a379-f7e23198b39b",
              "leftValue": "={{$json.org_name}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "78fca12e-0344-4eb6-9f85-ec4cb057df55",
              "leftValue": "={{$json.email}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2a7bf8fc-ab7d-4e50-843c-387a29515f28",
              "leftValue": "={{$json.vehicle_type}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "c29231c1-3e18-4ab6-a7b1-85ae236878ca",
              "leftValue": "={{$json.required_quantity}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        -112
      ],
      "id": "f5fad7ee-7989-47ff-b8a6-d4e22e396594",
      "name": "If2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91d73fff-e684-4dc6-b6b8-b2ce0e85c3b6",
              "name": "status",
              "value": "INVALID_LEAD",
              "type": "string"
            },
            {
              "id": "bea61f9c-bc00-4a3c-9cc5-0747645fff41",
              "name": "reason",
              "value": "Missing required fields",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        -16
      ],
      "id": "d4e32598-3781-4778-881b-8bc9e26cee21",
      "name": "invalid lead"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upright-sassy-handcuff.ngrok-free.dev/deals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "your-agent-api-key-for-n8n"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        -272
      ],
      "id": "fe7c0d8a-0548-4523-9b68-5e81f5cf4aa3",
      "name": "Create Deal"
    },
    {
      "parameters": {
        "sendTo": "={{$node[\"Edit Fields\"].json[\"email\"]}}",
        "subject": "We've received your enquiry – Iron Ridge Fire Apparatus",
        "message": "=<p>Dear {{$node[\"Edit Fields\"].json[\"first_name\"] || $node[\"Edit Fields\"].json[\"org_name\"]}},</p>  <p>Thank you for contacting Iron Ridge Fire Apparatus. Your enquiry has been successfully received.</p>  <p><strong>Reference Number:</strong> {{$json.data.deal_id}}</p>  <p>Our sales team has started reviewing your requirements.</p>  <p><strong>Current Status:</strong> Enquiry Received</p>  <p>You will receive updates as your enquiry progresses.</p>  <p>Regards,<br>Iron Ridge Sales Team</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        -272
      ],
      "id": "6ca40e55-1e6d-49d0-a19c-7d82a7edf4cd",
      "name": "Confirmation Email",
      "webhookId": "a6828c8d-bac0-438e-b76f-d85d6c585710",
      "credentials": {
        "gmailOAuth2": {
          "id": "daYJuQqEExstYnHl",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BG8U797CH",
          "mode": "list",
          "cachedResultName": "ironridge"
        },
        "text": "=🔔 New Lead Received  Deal ID: {{$json.deal_id}} Company: {{$json.org_name}} Vehicle Type: {{$json.vehicle_type}} Required Quantity: {{$json.required_quantity}} Status: NEW_LEAD Assigned Agent: Marty",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        832,
        -272
      ],
      "id": "982191c7-b31f-4348-a390-f7442e312cd6",
      "name": "Send a message",
      "webhookId": "c8214f84-09ee-4407-a719-d500d27d6178",
      "credentials": {
        "slackOAuth2Api": {
          "id": "wmP1AsGjziOu9Lj1",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$node[\"Edit Fields\"].json[\"email\"]}}",
        "subject": "Your enquiry could not be qualified – Iron Ridge Fire Apparatus",
        "message": "=<p>Dear {{$node[\"Edit Fields\"].json[\"first_name\"] || $node[\"Edit Fields\"].json[\"org_name\"]}},</p>  <p>Thank you for your enquiry with Iron Ridge Fire Apparatus.</p>  <p>After reviewing the submitted information, we are unable to qualify your enquiry for the next stage at this time.</p>  <p>Regards,<br>Iron Ridge Sales Team</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1696,
        -256
      ],
      "id": "855f6a44-081d-48f6-b4fd-83154ca910d5",
      "name": "Qualification Failed Email",
      "webhookId": "e653ea0b-b066-471c-8533-f98e531a13ed",
      "credentials": {
        "gmailOAuth2": {
          "id": "daYJuQqEExstYnHl",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BG8U797CH",
          "mode": "list",
          "cachedResultName": "ironridge"
        },
        "text": "=❌ Lead Qualification Failed  Deal ID: {{$node[\"Create Deal\"].json[\"data\"][\"deal_id\"]}} Company: {{$node[\"Edit Fields\"].json[\"org_name\"]}} Customer: {{$node[\"Edit Fields\"].json[\"first_name\"]}} Lead Score: {{$node[\"Marty Agent\"].json[\"lead_score\"]}} Status: QUALIFICATION_FAILED  The lead did not meet the minimum qualification score of 80.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1904,
        -256
      ],
      "id": "89b3d1df-72be-4f89-a65f-b636553a3bb5",
      "name": "Slack Qualification Failed",
      "webhookId": "3fc186c1-d8e7-4caa-b1b3-f84fabdc6294",
      "credentials": {
        "slackOAuth2Api": {
          "id": "wmP1AsGjziOu9Lj1",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BG8U797CH",
          "mode": "list",
          "cachedResultName": "ironridge"
        },
        "text": "=✅ Lead Validated Successfully  Deal ID: {{$json.deal_id}} Status: LEAD_VALIDATED Current Agent: LISA  The lead has passed validation and is moving to requirements collection.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1472,
        -528
      ],
      "id": "7f9f8b39-0758-4006-be52-d1332751166c",
      "name": "Send a message1",
      "webhookId": "3c6fe9f9-90a3-49c4-881a-dd65c4dd0da2",
      "credentials": {
        "slackOAuth2Api": {
          "id": "wmP1AsGjziOu9Lj1",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$node[\"Edit Fields\"].json[\"email\"]}}",
        "subject": "Your Order Has Been Successfully Delivered",
        "message": "=Hello {{$node[\"Edit Fields\"].json[\"org_name\"]}},  Great news! Your order has been successfully processed and delivered.  Deal ID: {{$node[\"Create Deal\"].json[\"data\"][\"deal_id\"]}} Order ID: {{$node[\"Sally Agent\"].json[\"order_id\"]}} Status: DELIVERED  Thank you for choosing us.  Best regards, eMpulse Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1632,
        160
      ],
      "id": "061bac85-bc0e-44c7-8129-606563b2006c",
      "name": "Send a message2",
      "webhookId": "0ae47f00-633a-46d0-ab17-fad29b436fad",
      "credentials": {
        "gmailOAuth2": {
          "id": "daYJuQqEExstYnHl",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BG8U797CH",
          "mode": "list",
          "cachedResultName": "ironridge"
        },
        "text": "=✅ Workflow Completed Successfully  Deal ID: {{$node[\"Create Deal\"].json[\"data\"][\"deal_id\"]}} Customer: {{$node[\"Edit Fields\"].json[\"org_name\"]}} Order ID: {{$node[\"Sally Agent\"].json[\"order_id\"]}} Status: DELIVERED Current Agent: ADAM  The order has been successfully completed and delivered.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1840,
        160
      ],
      "id": "cc20a69d-d344-436c-b538-5cae9d1d686b",
      "name": "Send a message3",
      "webhookId": "e0e32124-74d2-4a0c-b47d-e8b20047f421",
      "credentials": {
        "slackOAuth2Api": {
          "id": "wmP1AsGjziOu9Lj1",
          "name": "Slack OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Lisa Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Qualification Failed Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lisa Agent": {
      "main": [
        [
          {
            "node": "Lead Validated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Validated": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neil Agent": {
      "main": [
        [
          {
            "node": "Requirements Colllected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Requirements Colllected": {
      "main": [
        [
          {
            "node": "Paul Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paul Agent": {
      "main": [
        [
          {
            "node": "Pricing Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pricing Ready": {
      "main": [
        [
          {
            "node": "Victor Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Victor Approval": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Sally Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Approval Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sally Agent": {
      "main": [
        [
          {
            "node": "Order Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order Created": {
      "main": [
        [
          {
            "node": "Adam Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adam Agent": {
      "main": [
        [
          {
            "node": "Delivery Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marty Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Create Deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "invalid lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Deal": {
      "main": [
        [
          {
            "node": "Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmation Email": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Marty Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qualification Failed Email": {
      "main": [
        [
          {
            "node": "Slack Qualification Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Neil Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Completed": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2d4846ba-27ca-48fb-aac0-2fbe779311fe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98d17400a444f151939d5b14fbf5fe24fcf62f60baee7c0f911d1760dd25a8ee"
  },
  "nodeGroups": [],
  "id": "BE7MeJqnfWvzcYaa",
  "tags": []
}